@charset "utf-8";

// update bulma's global variables
$grey-dark: #a7a7a7;
$grey-light: #05386b;
$primary: #5cdb95;
$primary-invert: #ffffff;
$link: #7a9e8e;
$widescreen-enabled: true;
$fullhd-enabled: true;

// update some of bulma's component variables
$body-background-color: #f5f5f5;
$input-shadow: none;

$success: #5cdb95;
$success-invert: $primary-invert;
$danger: #e81a41;

$navbar-background-color: #f5f5f5;
$navbar-box-shadow-size: 0 1px 1px;
$navbar-box-shadow-color: #cfcfcf;

$panel-heading-background-color: #05386b;
$panel-heading-color: white;

$text-strong: $grey-dark;

// import only what you need from bulma
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/notification.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/panel.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/helpers/_all.sass";

